.boton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plomo_oscuro {
    background-color: #555;
}

.naranja {
    background-color: rgb(219, 172, 41);
}

.plomo_claro {
    background-color: #aaa;
}
